.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header > .container {
  position: relative;
}

.header > .container .logo {
  position: absolute;
  display: inline-block;
  font-size: 0;
}

.header > .container .logo > a {
  display: block;
  width: 61px;
  height: 37px;
  text-indent: -9999px;
  overflow: hidden;
  /* background: url(./img/logo.png) no-repeat; */
}

